
@font-face {
    font-family: 'IRANYekanXVF';
    src: url('fonts/IRANYekanXVF.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
    url('fonts/IRANYekanXVF.woff') format('woff');
    /* for the other supporting browsers */
    font-weight: 100 1000;
    font-display: fallback;

}

@font-face {
    font-family: IRANYekanX;
    src: url('fonts/IRANYekanX-regular.woff') format('woff');
}
@font-face {
    font-family: IRANYekanX;
    src: url('fonts/IRANYekanX-bold.woff') format('woff');
    font-weight: 700;
}